.about-us {
	scroll-margin-top: 102px;
	max-width: 1200px;
	margin: 0 auto;
	&__item {
		display: flex;
		flex-direction: column;
	}

	&__image {
		object-fit: cover;
		width: 100%;
	}

	&__item-tittle {
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		padding: 1em;
	}

	&__item-paragraph {
		text-align: center;
		line-height: 160%;
		font-size: 1rem;
		padding: 0 10px;
	}
}

@media (min-width: 768px) {
	.about-us {
		padding: 60px;

		&__item {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__item-img {
			width: 48%;
		}

		&__item-text {
			width: 48%;
		}

		&__item-tittle {
			padding: 0 0 10px 0;
			text-align: left;
		}

		&__item-paragraph {
			text-align: left;
			line-height: 200%;
			padding: 0;
		}
	}
}

@media (min-width: 1200px) {
	.about-us {
		&__item-img {
			width: 47%;
		}

		&__item-text {
			width: 47%;
		}

		&__item-tittle {
			font-size: 1.5rem;
		}

		&__item-paragraph {
			font-size: 1.1rem;
		}
	}
}
