@use '../abstracts/variables' as *;

.journey {
	position: relative;
	background-image: url('../img/girl-5785590_640.jpg');
	background-size: cover;
	background-position: center;
	padding: 8em 4em;

	&__wrapper {
		max-width: 992px;
		margin: 0 auto;
	}

	&__hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&__tittle {
		font-size: 1.2rem;
		color: $white;
		border: 2px solid $white;
		padding: 1em 2em;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.journey {
		padding: 10em;
		&__tittle {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 992px) {
	.journey {
		background-image: url('../img/girl-5785590_1920.jpg');
		padding: 14em;
		&__tittle {
			font-size: 1.8rem;
		}
	}
}
